.class-1 {
  font-size: 14px;
  color: #334033;
}

.class-2 {
  font-size: 15px;
  color: #402f2e;
}

.class-3 {
  font-size: 16px;
  color: #3b3427;
}

.borderForm,
.content_container aside form label input,
.content_container aside form {
  border: 2px solid black;
}

.paddingForm,
.content_container aside form label input[type="submit"],
.content_container aside form {
  padding: 15px;
}
.paddingForm, .content_container aside form label input[type="submit"]
{
 position: relative;
 left: 77.5%;
}
.paddingForm, .content_container aside form label input[type="submit"]:hover
{
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1b1c1f;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  color: #49634f;
}

h3 {
  font-size: 24px;
}

body {
  max-width: 100%;
  width: 100%;
}

header {
  margin: 0 auto;
  max-width: 1400px;
  border: 2px solid black;
  padding: 15px;
  background-image: url("../img/fonn.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .icon img {
  width: 160px;
  height: 60px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  list-style-type: none;
  border: 2px solid black;
  padding: 5px;
  width: 200px;
  text-align: center;
}
header nav ul li:not(:first-child) {
  margin-left: 30px;
}
header nav ul li a {
  text-decoration: none;
}
.content_container {
  margin: 0 auto;
  max-width: 1400px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.content_container main .main_article .main_title {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}
.content_container main .main_article .article_text {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.content_container main .main_article .article_text .article_text-p {
  text-align: justify;
  border: 2px solid black;
  padding: 15px;
}
.content_container
  main
  .main_article
  .article_text
  .article_text-p:nth-child(2),
.content_container
  main
  .main_article
  .article_text
  .article_text-p:nth-child(3) {
  margin-left: 20px;
}
.content_container main .main_article .main_title-2 {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}
.content_container main .main_article .article_image {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.content_container main .main_article .article_image img {
  width: 200px;
  height: 270px;
  -o-object-fit: cover;
  object-fit: cover;
}
.content_container aside {
  min-width: 500px;
  padding-left: 20px;
}
.content_container aside form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
}
.content_container aside .aside_title {
  margin-top: 20px;
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}
.content_container aside .aside_content {
  margin-top: 20px;
  border: 2px solid black;
  padding: 20px 10px;
}
.content_container aside .aside_content .aside_block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.content_container aside .aside_content .aside_block:nth-child(2) {
  margin-top: 20px;
}
.content_container aside .aside_content .aside_block img {
  width: 200px;
  height: 270px;
  -o-object-fit: cover;
  object-fit: cover;
}
.content_container aside .aside_content .aside_block p {
  margin-left: 10px;
  border: 2px solid black;
  padding: 15px;
  text-align: justify;
}

footer {
  margin: 0 auto;
  max-width: 1400px;
  border: 2px solid black;
  padding: 15px;
  margin-top: 20px;
}
