@font-face{
    font-family: 'Monotype Corsiva';
    src: url(Monotype-Corsiva-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
$mainfont:'Monotype Corsiva';
$pcolor:blue;
$secondfont:'Arial';
h1{
    text-align: center;
    font-family:$mainfont ;
}
h2{
    text-align: left;
    font-family:$mainfont ;
}
h3{
    text-align: left;
    font-family:$mainfont ;
}
.p1{
    color: $pcolor;
    font-family: $secondfont;
    span{
        &.span1{
            color: green;
            font-style: italic;
        }
        &.span2{
            color: brown;
            font-style: italic;
        }
        &.span3{
            font-style: italic;
        }
    }
}
ol{
    .li1{
        color: red;
        font-family: 'Times New Roman';
    font-size: 18pt;
    list-style-type: square;
    }
    .li2{
        color: yellow;
        font-size: 18pt;
    font-family: 'Times New Roman';
    }
    .li3{
        color: green;
        font-size:22pt;
        list-style-type: disc;
    }
}
table{
    width: 98vw;
tr{
    caption{
        border: 1px solid black;
    }
    td,th{
        border: 1px solid black;
    }
    td{
        color: green;
    }
}
}
.svgcontainer{
    div{
        display: inline-block;
    }
}
